@font-face {
    font-family: 'HNL';
    src: url('./../fonts/HelveticaNeue-Light.eot');
    src: url('./../fonts/HelveticaNeue-Light.eot?#iefix') format("embedded-opentype"), url('./../fonts/HelveticaNeue-Light.woff') format("woff"), url('./../fonts/HelveticaNeue-Light.woff2') format("woff2"), url('./../fonts/HelveticaNeue-Light.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'HNM';
    src: url('./../fonts/HelveticaNeue-Medium.eot');
    src: url('./../fonts/HelveticaNeue-Medium.eot?#iefix') format("embedded-opentype"), url('./../fonts/HelveticaNeue-Medium.woff') format("woff"), url('./../fonts/HelveticaNeue-Medium.woff2') format("woff2"), url('./../fonts/HelveticaNeue-Medium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'HNR';
    src: url('./../fonts/HelveticaNeue-Roman.eot');
    src: url('./../fonts/HelveticaNeue-Roman.eot?#iefix') format("embedded-opentype"), url('./../fonts/HelveticaNeue-Roman.woff') format("woff"), url('./../fonts/HelveticaNeue-Roman.woff2') format("woff2"), url('./../fonts/HelveticaNeue-Roman.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'HNB';
    src: url('./../fonts/HelveticaNeueBold.eot');
    src: url('./../fonts/HelveticaNeueBold.eot?#iefix') format("embedded-opentype"), url('./../fonts/HelveticaNeueBold.woff') format("woff"), url('./../fonts/HelveticaNeueBold.woff2') format("woff2"), url('./../fonts/HelveticaNeueBold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }