/***Color***/
$yellow-color: #d01d15;
$red-color: #d01d15;
$red2-color: #C1272D;
$red3-color: #98211b;
$red4-color:#ff0000;

$black-color: #000000;

$black-color1: #18191E;
$black-color2:#3e3e3e;
$black-color3:#666666;
$black-color4:#333;
$black-color5: #1b1b1b;
$black-color6: #0d0d0d;
$black-color7: #181818;
$black-color8: #555454;
$black-color9: #202020;
$black-color10: #444444;
$black-color11: #1f1f1f;
$black-color12: #959595;

$gray-color: #787878;
$gray-color1: #e3e3e3;
$gray-color2 : #ced4da;
$gray-color3 :#e5e5e5;
$gray-color4 :#cecfd1;
$gray-color5: #e6e6e6;
$gray-color6: #F1F1F1;
$gray-color7: #999999;
$gray-color8: #333333;
$gray-color9: #dcdddf;
$gray-color10: #d4d4d4;
$gray-color11: #6e6e6e;
$gray-color12: #b2b3b6;
$gray-color13 : #b3b3b3;
$gray-color14 : #2b2b2b;
$gray-color15 : #949599;
$gray-color16 : #dee2e6;
$gray-color17 : #ccc;
$gray-color18 : #939497;
$gray-color19 : #878787;
$gray-color20 : #bebebe;
$gray-color21 : #495055;
$gray-color22 : #657786;
$gray-color23 : #161617;
$gray-color24 : #a3a3a5;
$offwhite : #f9f9f9;
$offwhite1 : #f1efef;


$green-color: #009900;
$green-color1: #84b921;
$green-color2:#25d366;
$green-color3:#0c2f1d;
$green-color4:#00ff00;

$blue-color : #39f;
$blue-color1 : #475993;
$blue-color2 : #092771;
$blue-color3 : #5cabfc;
$blue-color4 : #0066ff;
$blue-color5 : #698ae5;

$white-color: #ffffff;

/* Device realted variables */
$mobile: 320px;
$tablet: 768px;
$tabletdw1: 481px;
$tabletdw2: 1024px;
$desktop: 992px;
$highResolution: 1200px;





